 .form-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 100vh;
     width: 100vw;
     padding-top: 20vh;
     background-image: url("./galleryback.jpg");
     background-size: cover; 
 }

 .form-data {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: #91e79519;
     backdrop-filter: blur(15px);
     padding: 4rem;
     border-radius: 20px;
     width: 30vw;
     box-shadow: 0 5 40px white;
 }


 .text {
     color: #004b19;
     font-size: large;
     font-style: italic;
     font-weight: 800;
     text-shadow: 0px 2px 4px rgb(187, 255, 205)
 }


 .form-container input[type="text"],
 .form-container input[type="email"],
 .form-container input[type="password"],
 .form-container button {
     padding: 10px;
     width: 70%;
     margin: 8px;
     border-radius: 15px;
     color: rgb(240, 248, 255);
     font-size: large;
     background-color: #002b01;
     border: 2px rgb(183, 255, 205) solid;

 }

 .form-container input[type="text"]::placeholder,
 .form-container input[type="email"]::placeholder,
 .form-container input[type="password"]::placeholder {
     color: #ffffff6e;
     font-weight: 400;
     font-size: medium;
     font-style: italic;
 }


 .form-container button {
     background-color: #002b01;
     margin-top: 20px;
     color: rgb(206, 255, 205);
     font-family: Arial, Helvetica, sans-serif;
     border: 3px rgb(1, 87, 0) solid;
     cursor: pointer;
     font-size: larger;
     font-weight: 700;
 }

 .form-container button:hover {
     background-color: rgb(206, 255, 205);
     color: #002b01;
 }

 .franchise-text {
     margin-top: 20px;
     color: aliceblue;
     font-style: italic;
     font-size: large;
     text-align: center;
 }

 .radio {
     background-color: #001d0a;
     color: #c5ffc6;
     width: 100%;
     font-size: larger;
     border: 2px ghostwhite solid;
     padding: 8px;
     border-radius: 15px;
     margin: 5px;
 }

 .radio-btn {
     size: 20px;
 }
 

 @media screen and (max-width: 1230px) {
     .form-data {
         width: 65vw;
     }

     .form-data {
         padding: 25px;
     }

     .signup {
         font-size: x-large;
         width: 80vw;
     }

     .form-container input[type="text"],
     .form-container input[type="email"],
     .form-container input[type="password"],
     .form-container button {
         width: 92%;
     }

     .selection {
         width: 95%;
     }
 }

 @media screen and (max-width: 830px) {
     .signup {
         font-size: larger;
         width: 74vw;
     }

     .form-container { 
         padding-top:24vh; 
     }

     .form-data {
         width: 75vw;
     }

     .form-data {
         padding: 25px;
     }

     .form-container input[type="text"],
     .form-container input[type="email"],
     .form-container input[type="password"],
     .form-container button {
         width: 92%;
     }

     .selection {
         width: 100%;
     }
 }